body {
}

.container-wrapper {
    background-color: rgb(200, 10, 10);
    padding: 60px 60px;
    margin: 70px;
    border-radius: 60px;
    width: 600px;
    margin: 0 auto;
}

.container-wrapper h1 {
    color: yellow;
    text-align: center;
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.row {
    display: grid;
    width: 450px;
    height: 450px;
    flex-grow: 0;
}

.flex {
    display: flex;
    gap: 20px;

}

.resize-container,
.color-changer {
    display: flex;
    flex-direction: column;
    width: 100px;

}

.cell {
    background-color: lightgray;
}