#container {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: column;
}

.col {
    width: 10px;
    height: 10px;
    background-color: antiquewhite;
}